.aboutMe {
	// margin-top: 75px;
	overflow: hidden;
			.flexBox {
			display: flex;
			flex-direction: row-reverse;
			// this is my medium break point
			@include breakPoint(medium) {
				flex-direction: column;
			}
			.aboutText {
				width: 50%;
				display: flex;
				flex-direction: column;
			// this is my medium break point
			@include breakPoint(medium) {
				margin: 0 auto;
			}
			h2 {
				@include firstFont(40px);
			}
			p {
				@include secondFont(15px);
				text-align: justify;
			}
			input[type=submit] {
				@include secondFont(15px);
				text-transform: uppercase;
				letter-spacing: 3px;
				background: white;
				border: 1px solid black;
				padding: 20px;
				margin-top: 20px;
				width: 30%;
				text-align: center;
				// this is my medium break point
				@include breakPoint(medium) {
					@include secondFont(15px)
					width: 100%;
					text-transform: uppercase;
					letter-spacing: 2.5px;
					padding: 10px;
					text-align: center;
				}
			}
		}
	}	
}

.aboutMe::after {
	content: "";
	position: relative;
	z-index: -100;
	top: -450px;
	left: -110px;
	right: 0;
	bottom: 0;
	width: 50%;
	height: 50%;
	// border-top: 20px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 500px solid rgba(232,234,236,0.5);
	border-left: 1550px solid transparent;
	overflow: hidden;
}

.aboutMe .aboutImage {
	width: 50%; 
	img {
		max-width: 100%;
		padding: 20px; 
	@include breakPoint(medium) {
		display: none;	
	}
}

}
