footer {
	background: $firstColor;
	// padding: 10px;
	.footerTop {
		display: flex;
		// this is my medium break point
		@include breakPoint(medium) {
			flex-direction: column;
		}
			.footerBox {
				width: 25%;
				margin: 0 20px;
				// this is my medium break position
				@include breakPoint(medium) {
					width: 95%;
					align-items: center;
				}
				h2 {
					@include firstFont(20px);
					color: white;
					// this is my medium break position
					@include breakPoint(medium) {
						text-align: center;
					}
				}
				p{
					@include secondFont(12px);
					color: white;
					letter-spacing: 2.2px;
					line-height: 33px;
					font-weight: 300;
					text-align: justify;
					// this is my medium break position
					@include breakPoint(medium) {
						text-align: center;
					}
				}
				a {
					@include secondFont(15px);
					color: white;
					text-decoration: none;
					&:hover {
							color: $thirdColor;
						}
				}
			}
			.helpfulLinks {
				display: flex;
				flex-direction: column;
					a {
						@include secondFont(17px);
						color: white;
						padding: 12px;
						line-height: 15px;
						letter-spacing: 2.5px;
						text-align: justify;
						&:hover {
							color: $thirdColor;
						}
				}
			}
		}
	.footerBottom{
		background: $footerBottomColor;
		max-width: 100%;
		height: 60%;
			p {
				@include secondFont(15px)
				color: white;
				text-align: center;
				padding: 10px;
				text-transform: uppercase;
				font-weight: 300;
				letter-spacing: 4px;
			}
	}
}