// global styles

$firstColor: #193446;
$secondColor: #36384C ;
$thirdColor: #d1d6da;
$thirdColorO: rgba(7, 15, 21,0.97);
$fourthColor: #e8eaec;
$blackColor: #323339;
$greyColor: #5e707d;
$footerBottomColor: #070f15;
$hoverBackground: rgba(250,250,250,0.5);

@mixin firstFont($fontSize) {
	font-size: $fontSize;
	text-transform: capitalize;
	letter-spacing: 1.5px;
	font-family: 'Poppins', sans-serif;
	color: $firstColor;
}

@mixin secondFont($fontSize) {
	font-size: $fontSize;
	text-transform: capitalize;
	letter-spacing: 1.3px;
	font-family: 'Roboto', sans-serif;
	color: $blackColor;
}

@mixin thirdFont ($fontSize) {
	font-size: $fontSize;
	text-transform: capitalize;
	letter-spacing: 1.5px;
	font-family: 'Pacifico', cursive;
	color: $firstColor;
}

@mixin breakPoint($point) {
  @if $point == large {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 840px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 568px)  { @content; }
  }
}